// hide the default new topic button
#custom-create-topic ~ .fk-d-button-tooltip,
#custom-create-topic ~ #create-topic {
  display: none;
}

// clean up admin json settings a little
.json-schema-editor-modal .je-object__container .form-group {
  .form-control {
    margin-bottom: 0;
  }

  .form-text {
    display: block;
    margin-bottom: 1em;
    text-align: right;
  }
}

.custom-reply-button {
  .topic-footer-main-buttons {
    .create:not(.custom-create) {
      display: none;
    }
  }
}
